# Arquivo de exemplo para definir as variáveis de ambiente.
# Renomeie este arquivo para .env e preencha com suas chaves de API.

# Chave de API da OpenAI
# Você pode obter uma em: https://platform.openai.com/api-keys
OPENAI_API_KEY="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"

# Chaves de API do Google Gemini
# Você pode obter uma em: https://aistudio.google.com/app/apikey
GEMINI_API_KEY_1="AIzaSyCmgSL3RkU7kZ_wAfNiW0Y1nKkifXdx0zY"
GEMINI_API_KEY_2="AIzaSyAY3QeBxTR7pyyHbzULk3xbLWzrmA82Pi8"
